extends ../../layout

block content
  div(class='col-md-6')
    form(id='shop-update-form' name='shop-update-form' class='form-horizontal' method="POST" action='')
      input(id='id' name='id' type='hidden')
      div(class='form-group')
        div(class='col-md-3')
          label(for='name') Name
        div(class='col-md-9')
          input(id='name' name='name' class='form-control' value=`${shop.name}`)
      div(class='form-group')
        div(class='col-md-3')
          label(for='sku') Address
        div(class='col-md-9')
          input(id='address' name='address' class='form-control' value=`${shop.address}`)
      div(class='form-group')
        div(class='col-md-3')
          label(for='capacity') Capacity
        div(class='col-md-9')
          input(id='capacity' name='capacity' class='form-control' value=`${shop.capacity}`)
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Update