extends ../../layout

block content
  div(class='col-md-6')
    form(id='product-add-form' name='product-add-form' class='form-horizontal' method="POST" action='')
      div(class='form-group')
        div(class='col-md-3')
          label(for='name') Name
        div(class='col-md-9')
          input(id='name' name='name' class='form-control')

      div(class='form-group')
        div(class='col-md-3')
          label(for='price') Experience
        div(class='col-md-9')
          input(id='experience' name='experience' class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='price') Workers
        div(class='col-md-9')
          input(id='workers' name='workers' class='form-control')
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Create